---
interface Props {
	eyebrow: string;
	title: string;
	subtitle?: string;
	copy?: string;
}

const { eyebrow, title, subtitle, copy } = Astro.props;
---

<div class="section-header">
	<p class="section-eyebrow">{eyebrow}</p>

	<h2>
		{title}
		{subtitle && (
			<>
				<br />
				<span class="section-subtitle">{subtitle}</span>
			</>
		)}
	</h2>

	{copy && <p class="section-copy">{copy}</p>}
</div>